<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRÁFICOS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="site-header inicio">
        <div class="contenedor contenido-header">
            <div class="barra">

               <a href="/">
                    <p>INICIO</p>
                </a> 

                <div class="mobile-menu">
                    <a href="#navegacion">
                        <img src="img/menu.png" alt="">
                    </a>
                </div>  

                <nav id="navegacion" class="navegacion">
                    <a href="about.html"> Acerca de...</a>
                    <a href="graficos.html">Graficas</a>
                    <a href="informacion.html">Resumen de datos</a>
                </nav>

            </div>
            <h1>Datos de Covid-19 en el año 2020</h1>
        </div>

    </header>

    <main class="contenedor">
        <h1 class="fw-300 centrar-texto">
            GRÁFICOS
        </h1>
    </main>
</body>
</html>