<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO COVID19</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="site-header inicio">
        <div class="contenedor contenido-header">
            <div class="barra">

               <a href="/">
                    <p>INICIO</p>
                </a> 

                <div class="mobile-menu">
                    <a href="#navegacion">
                        <img src="img/menu.png" alt="">
                    </a>
                </div>  

                <nav id="navegacion" class="navegacion">
                    <a href="about.html"> Acerca de...</a>
                    <a href="graficos.html">Graficas</a>
                    <a href="informacion.html">Resumen de datos</a>
                </nav>

            </div>
            <h1>Datos de Covid-19 en el año 2020</h1>
        </div>

    </header>

    <section class="contenedor seccion">
        <h2 class="fw-300 centrar-texto">Acerca de este proyecto</h2>
        <div class="iconos-nosotros">
            <div class="icono">
                <img src="img/info.png" width="70px" alt="">
                <h3>Acerca de este proyecto.</h3>
                <p>Página creada para visualización de datos 
                    relacionados con el virus del Covid-19 
                    en el año 2020.
                    Proyecto de enfoque académico.</p>  
                <a href="about.html" class="boton boton-amarillo d-block">Ver Más</a>
            </div>

            <div class="icono">
                <img src="img/grafico.png" width="70px" alt="">
                <h3>Graficos</h3>
                <p> <br>
                    <br>
                    Gráficos informativos acordes con los datos propocionados.
                    <br> 
                    <br>
                </p> 
                <a href="graficos.html" class="boton boton-amarillo d-block">Ver Graficos</a> 
            </div>

            <div class="icono">
                <img src="img/imgrep.png" width="70px" alt="">
                <h3>Resumenes.</h3>
                <p><br>
                    <br>
                    Información sobre Covid-19 acorde a los datos.
                    <br>
                    <br>
                    <br>
                </p>  
                <a href="informacion.html" class="boton boton-amarillo d-block">Ver Resumen Informativo</a>
            </div>
        </div>
    </section>

    <main class="contenenedor seccion">
        <h2 class="fw-300 centrar-texto"> Fuente de información</h2>
        <div class="contenedor-anuncios">

            <div class="icono">
                <img src="img/ins.png" alt="">
                <div class="contenido.anuncio">
                    <h3>Instituto Nacional de Salud</h3>
                    <p>Entidad promotora del dataset usado para este proyecto</p>
                    <a href="https://www.ins.gov.co/Paginas/Boletines-casos-COVID-19-Colombia.aspx" class="boton boton-amarillo d-block">Ver página</a>
                </div>
            </div>
        </div>
    </main>
    
</body>
</html>