html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    background: #232220;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3.8rem;
    color: #fff;
}
h2 {
    font-size: 3.4rem;
    color: #fff;
}
h3 {
    font-size: 3rem;
    color: #fff;
}
h4 {
    font-size: 2.6rem;
    color: #fff;
}
p {
    color: #fff;
}
a {
    text-decoration: none;
}

.parent {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}
