<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACERCA DE ESTE SITIO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static',filename='css/normalize.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <header class="site-header inicio">
        <div class="contenedor contenido-header">
            <div class="barra">

               <a href="/">
                    <p>INICIO</p>
                </a>

                <div class="mobile-menu">
                    <a href="#navegacion">
                        <img src="{{url_for('static',filename='img/menu.png')}}" alt="">
                    </a>
                </div>

                <nav id="navegacion" class="navegacion">
                    <a href="about.html"> Acerca de...</a>
                    <a href="graficos.html">Graficas</a>
                    <a href="informacion.html">Resumen de datos</a>
                </nav>

            </div>
            <h1>Datos de Covid-19 en el año 2020</h1>
        </div>
    </header>

    <main class="contenedor">
        <h1 class="fw-300 centrar-texto">
            Conoce sobre este proyecto
            <div class="imagen">
                <img src="{{url_for('static',filename='img/uninorte.png')}}" height="151px" width="304px" alt="">
            </div>
        </h1>
        <div class="contenido-nosotros centrar-texto">
            <p>
                Proyecto académico realizado por estudiantes de la Universidad del Norte del programa de Ingeniería de Sistemas, en el curso de Bases de Datos.
                <br>
                El presente proyecto plantea utilizar un dataset relacionado al virus del covid19 y poder interpretar y representar la información de dicho dataset escogido en gráficos.
            </p>
        </div>

    </main>

</body>
</html>
