{% extends "layout.html" %}
{% block content %}
<div class="alert alert-info" role="alert" style="margin: auto">
  <h4 class="alert-heading"><strong>Khaos Colombia</strong></h4>
  <p>We are a shop dedicated to sell custom shirts made by the own users.</p>
  <p>Updated frequently by the staff and ever dropping the best options to wear.</p>
  <p></p>
  <p>Payment methods:</p>
  <ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-normal">NEQUI: 3023483013</div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-normal">MOOVI: 3023483013</div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-normal">CRYPTO: 0x15AB2600a84fb0414303C26e5447eB9fC8436125 (BSC)</div>
        The unical crypto tokens available are BTC, DOGE or BNB
      </div>
    </li>
  </ol>
  <hr>
  <p class="mb-0">All rights reserved. Copyright©.</p>
</div>
{% endblock %}

{% block sidebar %}
<div class="card alert-info" style="width: 18rem; margin: auto">
<div class="card-header">
  <strong>Follow us</strong>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <i class="fab fa-instagram" style="margin-right: 10px; color: #e85d04"></i><a href="https://instagram.com" style="color: black">Instagram</a></li>
  <li class="list-group-item">
    <i class="fab fa-facebook" style="margin-right: 10px; color: blue"></i><a href="Facebook.com" style="color: black">Facebook</a></li>
  <li class="list-group-item">
    <i class="fab fa-twitter" style="margin-right: 10px; color: #1DA1F2"></i><a href="Twitter.com" style="color: black">Twitter</a></li>
</ul>
</div>
<div class="card alert-info" style="width: 18rem; margin: auto; margin-top: 50px">
  <div class="card-body">
    <h5 class="card-title"><strong>¿More info?</strong></h5>
    <p class="card-text">If you need more info, contact with us.</p>
    <a href="whatsapp.com" class="btn btn-primary">Whatsapp</a>
  </div>
</div>
{% endblock %}
