<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRÁFICOS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <header class="site-header inicio">
        <div class="contenedor contenido-header">
            <div class="barra">

               <a href="/">
                    <p>INICIO</p>
                </a>

                <div class="mobile-menu">
                    <a href="#navegacion">
                          <img src="{{url_for('static',filename='img/menu.png')}}" alt="">
                    </a>
                </div>

                <nav id="navegacion" class="navegacion">
                    <a href="about.html"> Acerca de...</a>
                    <a href="graficos.html">Graficas</a>
                    <a href="informacion.html">Resumen de datos</a>
                </nav>

            </div>
            <h1>Datos de Covid-19 en el año 2020</h1>
        </div>

    </header>

    <section class="contenedor seccion">
      <h3 style="text-align: center"> Detección de la enfermedad por mes (2020)</h3>
      <img src="{{url_for('visualize')}}" class="img-fluid" alt="..." style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
      <select style="text-align: center; display: block; margin: 0 auto;" class="form-select" aria-label="Default select example">
        <option selected>Mes</option>
        <option value="1">Día de la semana</option>
      </select>
      <p style="text-align: center">Este gráfico muestra la cantidad de casos reportados (personas) durante el 2020.</p>
    </section>
</body>
</html>
