<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRÁFICOS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <header class="site-header inicio">
        <div class="contenedor contenido-header">
            <div class="barra">

               <a href="/">
                    <p>INICIO</p>
                </a>

                <div class="mobile-menu">
                    <a href="#navegacion">
                          <img src="{{url_for('static',filename='img/menu.png')}}" alt="">
                    </a>
                </div>

                <nav id="navegacion" class="navegacion">
                    <a href="about.html"> Acerca de...</a>
                    <a href="graficos.html">Graficas</a>
                    <a href="informacion.html">Resumen de datos</a>
                </nav>

            </div>
            <h1>Datos de Covid-19 en el año 2020</h1>
        </div>

    </header>

    <section class="contenedor seccion">
      <div class='parent'>
        <div class='child'>
          {% if dec == 1  %}
               <h3 style="text-align: center"> Detección de la enfermedad por mes (2020)</h3>
          {% else %}
               <h3 style="text-align: center"> Detección de la enfermedad por día de la semana (2020)</h3>
          {% endif %}
          <img src="{{url_for(inst)}}" class="img-fluid" alt="..." style="display: block; margin-left: auto; margin-right: auto; width: 100%;">

          <p style="text-align: center">Este gráfico muestra la cantidad de casos reportados (personas) durante el 2020.</p>
        </div>
        <div class='child'>
          <form class="form-inline" method="POST" action="{{ url_for('test') }}">
            <div class="form-group">
              <div class="input-group">
                      <select name="comp_select" class="selectpicker form-control" style="text-align: center; display: block; margin: 0 auto; height:50px; width:150px;" aria-label="Default select example">
                        {% if dec == 1  %}
                          <option value = "1" selected >Mes</option>
                          <option value = "2">Día de la semana</option>
                        {% else %}
                          <option value = "1">Mes</option>
                          <option value = "2" selected>Día de la semana</option>
                        {% endif %}

                      </select>
              </div>
              <button type="submit" class="boton boton-amarillo d-block" style="height:50px;width:150px">Actualizar</button>
            </div>
          </form>
        </div>
      </div>
    </section>
</body>
</html>
